<%- include("partials/header") %> 

<h1><%= campground.name %></h1>
<p>
    <img class="img" src="<%= campground.image %>" alt="" srcset="" style="height: 500px; ">
</p>
<p>
    <%= campground.description %>
</p>
<% campground.comments.forEach(function(comment){ %>
    <p><%= comment.author %></p>
    <p><%= comment.text %></p>
<% }) %>


<%- include("partials/footer") %> 